.block-1-main{
    margin-top: 125px;
}
.main-text-in-block-1{
    color:white;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    max-width:700px;
    width: 100%;
    margin: 0 auto;
    font-family: MinionPro, serif;
}
.button-block-1{
    margin: 0 auto;
    text-align: center;
    border-radius: 7px;
    width: 236px;
    margin-top: 40px;
}
.button-text-block-1{
    padding:17px 73px 17px 73px ;
    color: white;
    background-color: #C4504C;
    transition:all 0.2s ease;
    border-radius: 7px;
    border: 1px solid #C4504C;
    text-decoration: none;
    margin: 0 auto ;

}
.button-text-block-1:hover{
    background-color: #E2A8A6;
    color: white;
}
.links-block-1{
    position: absolute;
    top: 450px;
    height: 150px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 25px;
    transition: all 0.2s ease;
}
        
.links-block-1 a{
    width: 25px;
}
.links-block-1 a:hover{
    opacity: .6;
}
.chain-block-1{
    margin-top:125px;
}
.line-block-1{
    border-top: 1px solid white;
}
.moving-stick-block-1{
    position: absolute;
    margin-top: -18px;
    margin-left:600px;
    border-left: 1px solid white;
    height: 37px;
    transition: margin 0.5s;
}
.ul-block-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 25px;
    padding: 0;
}
.anchor-link-block-1:hover{
    transition: color 0.3s;
    color: #C4504C;
}
.first-elem-block-1{
    color: red;
}
#elem-1-block-1:hover{
    
}