
.help-item{
    width: 100%;
    background-image: url(../img/block-7/Group\ 86.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 125px;
}
.link-more-stocks{
    font-size: 22px;
    line-height: 15px;
    letter-spacing: 5%;
    color: black;
}
.stock-name{
    font-size: 51px;
    line-height: 60px;
    letter-spacing: 10%;
    color: black;
    margin-top: 125px;
    text-transform: uppercase;
    margin-left: 23px;

}
.xs-link-block7,.more-stocks-second{
    display: none;
}
.text-in-border{
    float: none;
    width: auto;
    font-size: 25px;
    line-height: 15px;
    letter-spacing: 5%;
}
.meat-img-block7{
    display: none; 
}
.main-text-in-block,.colored-text-block7{
    font-size: 25px;
    line-height: 37px;
    color: black;
    margin-top: 5px;
    width:560px ;

}
.colored-text-block7{
    color: #D24E44;
    margin-left: 0;
}
.see-more-block7{
    color: #D24E44;
    font-size: 22px;
    line-height: 15%;
    padding-bottom: 10px 0;
}
.block7-slider .slick-track{
    padding-top: 50px;
}
.slider-block7{
    margin-top: 65px;
}
.field-block7{
    font-size:1em;
    border: solid 1px black;
    background-repeat:no-repeat;
    background-position: top -12px right 61px;
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
    padding: 36px 74px;
}
.slide-block7{
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}
fieldset legend{
    padding: 0 1em;
}
.meat-block-7{
    position: absolute;
    top: -65px;
    right: 53px;
    z-index: 0;
}
.arrows-block7{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.next-arrow-block7{
    rotate: 180deg;
    margin-left: 25px;
    width: 52px;
    height: 15px;
    background-image: url(../img/block-7/arrow7.svg);
}
.prev-arrow-block7{
    width: 52px;
    height: 15px;
    background-image: url(../img/block-7/arrow7.svg);
}
.next-arrow-block7:hover{
    rotate: 360deg;
    background-image: url(../img/block-7/arrow7-2.svg);
}
.prev-arrow-block7:hover{
    rotate: 180deg;
    background-image: url(../img/block-7/arrow7-2.svg);
}
.field-block7{
    position: relative;
}
.line-7{
    top: -18px;
    left: 582px;
    position: absolute;
}
@media (max-width:900px)
{
    .line-7{
        left: 567px;
        width: 173px;
    }
    .meat-block-7{
        right: 16px;
    }
}
@media (max-width:850px)
{
    .line-7{
        display: none;
    }
    .slide-block7 img{
        display: none;
    }
    .field-block7{
        background-image: url(../img/block-7/meat-block7.png);
        background-size:150px;
        background-position-y:80%;
        background-position-x: 90%;
    }
}
@media (max-width:820px)
{
    .field-block7{
        background-position-x: 100%;
    }
}
@media (max-width:769px)
{
    fieldset{
        max-width: 500px;
    }
    .main-text-in-block,.colored-text-block7{
        max-width: 300px;
        font-size: 20px;
    }
}
@media (max-width:700px)
{
    .text-in-border{
        width: 250px;
        line-height: 25px;
    }
}
@media (max-width:625px)
{
    .field-block7{
        background-position-x: 97%;
    }
    .block7-slider .slick-track {
        padding-top: 0px;
    }
    .field-block7 {
        padding: 36px 34px;
        background-size: 108px;
        background-position-y:100%;
        background-position-x: 95%;
    }
    .text-in-border{
        font-size: 18px;
        max-width: 184px;
        width: 100%;
        line-height: 25px;
    }
}
@media (max-width:445px)
{
    .see-more-block7{
        display: none;
    }
    .xs-link-block7,.xs-link-block7 .see-more-block7{
        display: block;
        margin-top: 20px;
        font-size: 22px;
    }
    .more-stocks{
        display: none;
    }
    .main-text-in-block, .colored-text-block7 {
        max-width: 234px;
        font-size: 20px;
        margin-bottom: 67px;
        margin-top: 5px;
        margin-top: -20px;
    }
    .more-stocks-second{
        display: block;
        font-size: 22px;
        margin-top: 30px;
    }
    .field-block7{
        padding: 36px 10px;
    }
    .arrows-block7
    {
        display: none;
    }
}
@media (max-width:360px)
{
    .field-block7{
        max-width: 350px;
        width: 300px;
        margin-left: -40px;
    }
}
@media (max-width:340px)
{
    .field-block7{
        width: 300px;
    }
}

