@font-face {
  font-family: Gilroy-regular;
  src: url(fonts/Gilroy-Regular.woff);
}
@font-face {
  font-family: Gilroy-medium;
  src: url(fonts/Gilroy-Medium.woff);
}
@font-face {
  font-family: Gilroy-bold;
  src: url(fonts/Gilroy-Bold.woff);
}
@font-face {
  font-family: MinionPro;
  src: url(onts/MinionPro-Regular.woff);
}
@font-face {
  font-family: Gilroy-semibold;
  src: url(fonts/Gilroy-SemiBold.woff);
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
body {
  background-color: #000000;
  background-image: url(img/block-1/bg.webp);
  background-repeat: no-repeat;
}
@media (max-width: 1440px) {
  body {
    background-image: url(img/block-1/bg-1440.webp);
  }
}
@media (max-width: 1000px) {
  body {
    background-image: url(img/block-1/bg-1000.webp);
  }
}
@media (max-width: 768px) {
  body {
    background-image: url(img/block-1/bg-768.webp);
  }
}
@media (max-width: 576px) {
  body {
    background-image: url(img/block-1/bg-576.webp);
  }
}
@media (max-width: 320px) {
  body {
    background-image: url(img/block-1/bg-320.webp);
  }
}
header {
  margin-top: 4.5rem;
  background: url(img/bg-header.svg) center no-repeat;
  background-size: 150%;
  vertical-align: middle;
  padding: 0 auto;
}
header .header .buttons {
  position: relative;
  display: none;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  width: 100%;
  top: -2.5rem;
}
header .header .buttons .btn-search {
  display: none;
}
header .header .buttons .navbar-toggler {
  border: none;
  display: block;
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  transition: all 0.3s ease 0s;
}
header .header .buttons .navbar-toggler:before,
header .header .buttons .navbar-toggler:after {
  content: '';
  background-color: #E9D3B0;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}
header .header .buttons .navbar-toggler:before {
  top: 0;
}
header .header .buttons .navbar-toggler:after {
  bottom: 0;
}
header .header .buttons .navbar-toggler .menu-icon {
  position: absolute;
  background-color: #E9D3B0;
  left: 0;
  width: 100%;
  height: 2px;
  top: 11px;
}
header .header .buttons .menu-active .menu-icon {
  transform: scale(0);
}
header .header .buttons .menu-active:before {
  transform: rotate(45deg);
  top: 11px;
}
header .header .buttons .menu-active:after {
  transform: rotate(-45deg);
  bottom: 11px;
}
header .header .collapse {
  top: 2.875rem;
}
header .header-search {
  position: absolute;
  top: -0.5rem;
  left: 65%;
}
header .header-search .header-search__input {
  border-radius: 4.625rem;
  padding: 0.625rem 1.875rem;
  min-width: 20.625rem;
}
header .header-search button {
  background-image: url(img/icons/search_2.svg);
  background-color: #FFFFFF;
  background-size: 100%;
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 0.625rem;
  right: 1.875rem;
  cursor: pointer;
}
header .header-inf {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  font-family: Gilroy-regular, sans-serif;
  font-size: 1.125rem;
  color: #FFFFFF;
}
header .header-inf a {
  text-decoration: none;
  color: #FFFFFF;
  transition: all 0.2s ease;
}
header .header-inf a:hover {
  opacity: 0.6;
}
header .header-inf p {
  margin: auto 1.25rem;
  margin-right: 2.8rem;
}
header .header-links {
  margin: auto;
  display: flex;
  justify-content: flex-end;
}
header .header-links .phone-block a {
  font-family: Gilroy-semibold, sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: #FFFFFF;
}
header .header-links .phone-block a:hover {
  opacity: 0.6;
}
header .header-links .phone-block img {
  margin-right: 1.25rem;
}
header .header-links .icons {
  margin-left: 2rem;
}
header .header-links .icons .basket {
  counter-increment: my-counter;
  position: relative;
  margin-right: 0.625rem;
}
header .header-links .icons .basket:hover {
  opacity: 0.6;
}
header .header-links .icons .basket::before {
  content: counter(my-counter);
  position: absolute;
  text-align: center;
  line-height: 1.45;
  top: -0.4rem;
  left: 15px;
  font-size: 0.8rem;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #000000;
  background-position: center;
  border-radius: 6.25rem;
}
header .header-links .icons .login:hover {
  opacity: 0.6;
}
.navbar-nav {
  display: none;
}
.navbar-nav .nav-item p,
.navbar-nav .nav-item a {
  color: #FFFFFF;
}
.wrapper .sections .gallery {
  display: flex;
}
.wrapper .sections .gallery img {
  width: 100%;
}
.wrapper .sections .g1 {
  z-index: 1;
}
.wrapper .sections .g2 {
  z-index: 0;
  display: flex;
  align-items: center;
  margin-top: -5.75rem;
}
.wrapper .sections .g2 img {
  min-height: 320px;
}
.wrapper .sections .g2 img:nth-child(2) {
  margin-top: 10.75rem;
}
.footer-copy hr {
  color: #C4C4C4;
  opacity: 0.5;
  margin: 30px 0;
}
.footer-copy section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.footer-copy section p {
  color: #DDDDDD;
  font-size: 13px;
  line-height: 19%;
}
.footer {
  margin-top: 15.625rem;
}
.footer__body-sec3 {
  justify-content: flex-end;
}
.footer__body-sec3 .bl3-hide {
  display: none;
}
.footer__body-sec2 a {
  color: #E9D3B0;
  opacity: 0.6;
  transition: all 0.2s ease;
}
.footer__body-sec2 a:hover {
  color: #C4504C;
  opacity: 1;
}
.footer__body section .soc {
  margin-top: 50px;
}
.footer__body section .soc-icons {
  display: flex;
}
.footer__body section .soc-icons a {
  margin-right: 45px;
  transition: all 0.2s ease;
}
.footer__body section .soc-icons a:hover {
  opacity: 0.6;
}
.footer__body section .soc h3 {
  font-size: 20px;
  font-family: MinionPro, serif;
  color: #E9D3B0;
  line-height: 119%;
  letter-spacing: 11%;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.footer__body section .footer-search {
  position: relative;
  color: #E9D3B0;
  transition: all 0.2s ease;
}
.footer__body section .footer-search:hover,
.footer__body section .footer-search:hover .footer-search__input {
  color: #FFF4E2;
  border-color: #FFF4E2;
}
.footer__body section .footer-search label {
  font-family: MinionPro, serif;
  padding: 10px 16px;
  background-color: #000000;
  position: absolute;
  top: -50%;
  left: 40px;
}
.footer__body section .footer-search .footer-search__input {
  background: none;
  border: solid 1px #E9D3B0;
  border-radius: 120px;
  min-height: 50px;
  color: #FFFFFF;
  font-family: MinionPro, serif;
  padding: 0 40px;
  transition: all 0.2s ease;
}
.footer__body section ul {
  list-style: none;
}
.footer__body section ul li {
  text-decoration: none;
  color: #E9D3B0;
  margin-bottom: 30px;
}
.footer__body section ul li #link-1 {
  font-family: Gilroy-bold, sans-serif;
  font-size: 1.375rem;
  line-height: 117.8%;
  letter-spacing: 5%;
  color: #C4504C;
  transition: all 0.2s ease;
}
.footer__body section ul li #link-1:hover {
  opacity: 0.6;
}
.footer__body section ul li #link-2 {
  font-size: 18px;
  line-height: 117.8%;
  letter-spacing: 5%;
  color: #E9D3B0;
  transition: all 0.2s ease;
}
.footer__body section ul li #link-2:hover {
  color: #C4504C;
}
.footer__header {
  width: 100%;
  margin-bottom: 80px;
}
.footer__header h2 {
  font-family: MinionPro, serif;
  color: #E9D3B0;
  margin-right: 3.3125rem;
  line-height: 119.4%;
  letter-spacing: 0.2;
  font-size: 2.1875rem;
  text-transform: uppercase;
  margin-bottom: 0;
}
.footer__header .line {
  height: 1px;
  width: 370px;
  background-color: #E9D3B0;
}
.block-3 {
  margin-top: 250px;
  width: 100%;
}
.block-3 .sections {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .block-3 .sections {
    flex-direction: column;
    width: 100%;
  }
}
.block-3 .sections section {
  padding: 45px 70px;
  display: flex;
  background-image: url(img/block-3/1.webp);
  background-repeat: no-repeat;
  background-size: 105%;
  width: 50%;
  min-height: 1130px;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  transition: all 0.2s ease;
}
.block-3 .sections section p {
  font-size: 45px;
  line-height: 90%;
  letter-spacing: 5%;
  font-family: Gilroy-medium, sans-serif;
  color: #FFFFFF;
}
@media (max-width: 1440px) {
  .block-3 .sections section p {
    font-size: 38px;
  }
}
@media (max-width: 1000px) {
  .block-3 .sections section p {
    font-size: 32px;
  }
}
.block-3 .sections section .cta-link {
  margin-top: 30px;
  padding: 15px 0;
  font-family: MinionPro, serif;
  font-size: 22px;
  line-height: 65%;
  letter-spacing: 5%;
  transition: all 0.2s ease;
  color: #FFFFFF;
  position: relative;
}
@media (max-width: 1000px) {
  .block-3 .sections section .cta-link {
    background-image: url(img/block-3/btn-mobile.svg);
    background-position: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 7px;
    line-height: 35%;
    padding: 15px 23px;
    font-size: 18px;
  }
}
.block-3 .sections section .cta-link svg {
  margin-left: 25px;
  fill: #FFFFFF;
  transition: all 0.2s ease;
}
.block-3 .sections section:hover {
  cursor: pointer;
  background-size: 110%;
}
.block-3 .sections section:hover svg {
  color: #FFFFFF;
  transform: translateX(25px);
}
@media (max-width: 1000px) {
  .block-3 .sections section:hover svg {
    transform: translateX(0);
  }
}
@media (max-width: 1838px) {
  .block-3 .sections section {
    background-size: cover;
  }
  .block-3 .sections section:hover {
    cursor: pointer;
    background-size: cover;
  }
}
@media (max-width: 768px) {
  .block-3 .sections section {
    width: 100%;
    min-height: 447px;
    background-image: url(img/block-3/4.webp);
    align-items: flex-start;
  }
}
@media (max-width: 360px) {
  .block-3 .sections section {
    padding: 45px 10px;
  }
}
.block-3 .sections .sect {
  width: 50%;
}
@media (max-width: 768px) {
  .block-3 .sections .sect {
    width: 100%;
    min-height: 447px;
  }
}
.block-3 .sections .sect section {
  padding: 45px 70px;
  display: flex;
  background-image: url(img/block-3/2.webp);
  width: 100%;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  min-height: 682px;
}
.block-3 .sections .sect section p {
  font-size: 45px;
  line-height: 90%;
  letter-spacing: 5%;
  font-family: Gilroy-medium, sans-serif;
  color: #FFFFFF;
}
@media (max-width: 1440px) {
  .block-3 .sections .sect section p {
    font-size: 38px;
  }
}
@media (max-width: 1000px) {
  .block-3 .sections .sect section p {
    font-size: 32px;
  }
}
.block-3 .sections .sect section .cta-link {
  padding: 15px 0;
  font-family: MinionPro, serif;
  font-size: 22px;
  line-height: 65%;
  letter-spacing: 5%;
  transition: all 0.2s ease;
  color: #FFFFFF;
  position: relative;
}
@media (max-width: 1000px) {
  .block-3 .sections .sect section .cta-link {
    background-image: url(img/block-3/btn-mobile.svg);
    background-position: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 7px;
    line-height: 35%;
    padding: 15px 23px;
    font-size: 18px;
  }
}
.block-3 .sections .sect section .cta-link:hover svg {
  color: #FFFFFF;
  transform: translateX(25px);
}
@media (max-width: 1000px) {
  .block-3 .sections .sect section .cta-link:hover svg {
    transform: translateX(0);
  }
}
.block-3 .sections .sect section .cta-link svg {
  margin-left: 25px;
  fill: #FFFFFF;
  transition: all 0.2s ease;
}
@media (max-width: 768px) {
  .block-3 .sections .sect section {
    width: 100%;
    min-height: 447px;
    background-image: url(img/block-3/5.webp);
  }
}
@media (max-width: 360px) {
  .block-3 .sections .sect section {
    padding: 45px 10px;
  }
}
.block-3 .sections .sect .sec3 {
  min-height: 448px;
  background-image: url(img/block-3/3.webp);
}
.block-3__header {
  width: 100%;
  margin-bottom: 80px;
  text-align: center;
}
.block-3__header h2 {
  font-family: MinionPro, serif;
  color: #E9D3B0;
  margin-right: 3.3125rem;
  line-height: 119.4%;
  letter-spacing: 0.2;
  font-size: 51px;
  text-transform: uppercase;
}
@media (max-width: 1439px) {
  .block-3__header h2 {
    font-size: 42px;
  }
}
@media (max-width: 999px) {
  .block-3__header h2 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .block-3__header h2 {
    font-size: 30px;
  }
}
.block-3__header .line {
  height: 1px;
  width: 370px;
  background-color: #E9D3B0;
}
.block-9 {
  margin-top: 125px;
}
.block-9 .container {
  color: #E9D3B0;
  background-image: url(img/block-9/bg-block-9-1920.jpg);
}
@media (max-width: 1600px) {
  .block-9 .container {
    background-image: url(img/block-9/bg-block-9-1440.jpg);
  }
}
@media (max-width: 1440px) {
  .block-9 .container {
    background-image: url(img/block-9/bg-block-9-1440.jpg);
  }
}
@media (max-width: 1000px) {
  .block-9 .container {
    background-image: url(img/block-9/bg-block-9-1000.jpg);
  }
}
@media (max-width: 768px) {
  .block-9 .container {
    background-image: url(img/block-9/bg-block-9-768.jpg);
  }
}
@media (max-width: 576px) {
  .block-9 .container {
    background-image: url(img/block-9/bg-block-9-576.jpg);
  }
}
@media (max-width: 360px) {
  .block-9 .container {
    background-image: url(img/block-9/bg-block-9-360.jpg);
  }
}
.block-9 .container .row .p {
  margin-top: 30px;
  font-family: Gilroy-regular, sans-serif;
  font-size: 25px;
}
@media (max-width: 1439px) {
  .block-9 .container .row .p {
    font-size: 22px;
  }
}
@media (max-width: 999px) {
  .block-9 .container .row .p {
    font-size: 18px;
  }
}
.block-9 .container .row .p span {
  font-family: Gilroy-semibold, sans-serif;
}
.block-9 .container .row .p .red {
  font-family: Gilroy-semibold, sans-serif;
  color: #C4504C;
}
.block-9 .container .row .p_small {
  font-family: Gilroy-regular, sans-serif;
  font-size: 20px;
}
@media (max-width: 575px) {
  .block-9 .container .row .p_small {
    display: none;
  }
}
.block-9 .container .row h2 {
  font-family: MinionPro, serif;
  font-size: 51px;
  line-height: 120%;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
@media (max-width: 1439px) {
  .block-9 .container .row h2 {
    font-size: 42px;
  }
}
@media (max-width: 999px) {
  .block-9 .container .row h2 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .block-9 .container .row h2 {
    font-size: 30px;
  }
}
.block-9 .container .row .form-btn {
  display: flex;
  flex-direction: column;
}
.block-9 .container .row .form-btn button {
  margin-top: 60px;
  font-family: MinionPro, serif;
  letter-spacing: 0.1rem;
  font-size: 22px;
  line-height: 117%;
  color: #FFFFFF;
  background-color: #C4504C;
  height: 50px;
  width: 207px;
  border-radius: 100px;
  border: none;
  transition: all 0.3s ease;
}
.block-9 .container .row .form-btn button:hover {
  background-color: #A44B4C;
}
.block-9 .container .row .form-btn button:focus {
  background-color: #C4504C;
}
.block-9 .container .row .form-btn button:disabled {
  opacity: 0.6;
}
@media (max-width: 999px) {
  .block-9 .container .row .form-btn button {
    width: 100%;
  }
}
.block-9 .container .row .form-btn small {
  margin-top: 30px;
  opacity: 0.6;
  font-size: 15px;
  font-family: Gilroy-regular, sans-serif;
}
.block-9 .container .row .form-btn small a {
  text-decoration: underline;
  color: #E9D3B0;
}
.block-9 .container .row .form .name,
.block-9 .container .row .form .phone {
  position: relative;
  color: #E9D3B0;
  transition: all 0.2s ease;
  margin-top: 30px;
}
.block-9 .container .row .form .name:hover,
.block-9 .container .row .form .phone:hover,
.block-9 .container .row .form .name:hover input,
.block-9 .container .row .form .phone:hover input {
  color: #FFF4E2;
  border-color: #FFF4E2;
}
.block-9 .container .row .form .name:active,
.block-9 .container .row .form .phone:active,
.block-9 .container .row .form .name:focus,
.block-9 .container .row .form .phone:focus {
  background-color: black;
}
.block-9 .container .row .form .name label,
.block-9 .container .row .form .phone label {
  font-family: MinionPro, serif;
  padding: 5px 16px;
  background-color: #000000;
  position: absolute;
  top: -40%;
  left: 40px;
}
.block-9 .container .row .form .name input,
.block-9 .container .row .form .phone input {
  background: none;
  border: solid 1px #E9D3B0;
  border-radius: 120px;
  min-height: 50px;
  color: #FFFFFF;
  font-family: MinionPro, serif;
  padding: 0 40px;
  transition: all 0.2s ease;
}
@media (max-width: 1200px) {
  header .header {
    background-size: 200%;
  }
  header .header-search {
    top: -1rem;
  }
  header .header-logo img {
    width: 11.625rem;
  }
}
@media (max-width: 992px) {
  .navbar-nav {
    display: block;
  }
  header {
    background-size: 200%;
  }
  header .header .buttons {
    display: flex;
  }
  header .header .buttons .btn-search {
    display: block;
  }
  header .header-logo {
    margin-top: -2.5rem;
  }
  header .header-logo img {
    width: 11.625rem;
  }
  header .header-inf p {
    width: 9.4375rem;
    line-height: 100%;
  }
  header .header-inf,
  header .header-links {
    margin-top: 0.625rem;
  }
  header .header-search {
    display: none;
  }
  header .header-inf a {
    display: none;
  }
  header .header-inf p {
    margin-right: 0;
  }
  header .header-links .phone-block {
    display: none;
  }
}
@media (max-width: 800px) {
  header .header {
    background-size: 500%;
  }
}
@media (max-width: 767px) {
  .footer__body-sec3 {
    margin-top: 80px;
  }
  .navbar-nav {
    display: block;
  }
  header {
    background-size: 300%;
  }
  header .header .buttons .btn-search {
    display: block;
  }
  header .header-logo {
    margin-top: -2.5rem;
  }
  header .header-inf p {
    width: 9.4375rem;
    line-height: 100%;
  }
  header .header-inf,
  header .header-links {
    margin-top: 0.625rem;
  }
  header .header .item__email,
  header .header .item__tel {
    display: none;
  }
  header .header-search {
    top: -2.5rem;
    left: 60%;
    display: none;
  }
}
@media (max-width: 576px) {
  header {
    background-size: 300%;
  }
  header .header-logo {
    margin: 0 auto;
    margin-top: -2.5rem;
  }
  header .header-inf p {
    width: 9.4375rem;
    line-height: 100%;
  }
  header .header-inf,
  header .header-links {
    margin-top: 0px;
    display: none;
  }
  header .header .item__email,
  header .header .item__tel {
    display: none;
  }
  header .header-search {
    top: -2.5rem;
    left: 60%;
    display: none;
  }
}
@media (max-width: 360px) {
  .footer-copy hr {
    margin-top: 40px;
  }
  .footer-copy section {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 80px;
  }
}
@media (max-width: 320px) {
  .footer__body-sec3 .footer-search label {
    margin-top: 28%;
    left: 10px;
  }
  .footer__body-sec3 .links {
    margin: 0;
    margin-top: 40px;
    display: flex;
    white-space: nowrap;
  }
  .footer__body-sec3 .links .bl3-hide {
    display: block;
  }
  .footer__body-sec3 .links .bl3-hide li {
    margin: 0;
    margin-bottom: 20px;
  }
  .footer__body-sec3 .links .bl3-hide li a {
    margin: 0;
    color: #E9D3B0;
    opacity: 0.6;
  }
  .footer__body-sec2 {
    display: none;
  }
  .footer__body section .soc {
    margin-top: 50px;
  }
  .footer__body section .soc-icons {
    display: flex;
    align-items: center;
  }
  .footer__body section .soc-icons a {
    margin-right: 0px;
    transition: all 0.2s ease;
    margin-left: 40px;
  }
  .footer__body section .soc-icons a img {
    width: 40px;
  }
  .footer__body section .soc-icons a:hover {
    opacity: 0.6;
  }
  .footer__body section .soc h3 {
    display: none;
  }
}
.flag {
  background-size: 1000% !important;
  background-color: #9E423E;
}
@media (max-width: 1920px) {
  .container {
    max-width: 1200px !important;
    margin: 0 auto !important;
  }
}
